{% extends "layout.html" %}

{% block mainContent %}
  <p></p>
  <h1>{{ title }} ABOUT US </h1>
  <p>Welcome to "Carachugu", the one stop Ninja event management tool. Since 1854, we have been connecting event organizers with potential ninja customers. Ninjas can search our website for upcoming events, register for events and post new events. Carachugu is here to connect YOU! </p>
  <p></p>
  <p> FOUNDING MEMBERS: </p>

{% for person in people %}
<span id= "{{person.id}}-name">
  <img id="{{person.id}}-headshot" src="{{person.image}}" height="256" width="256">
  <p> {{person.nick}} </p>
</span>
{% endfor %}

{% endblock %}
