{% extends "layout.html" %}

{% block mainContent %}
      
   {% if errors %}
    <div class="form-errors">
      <p>Please enter a valid email address!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  

      <h1 id = "title"> {{event.title}} </h1>
      
      <img id = "image" src = {{event.image}}>
      <br> 
      <span id= "location"> {{event.location}}</span>
      <span id = "date"> {{event.date|prettyDate}}</span>
      <br>
      {{event.attending.length}} attending so far.
      <ul id= "attendees"> 
      
      <li> 
      
      {{event.attending}}
      </li>
      
      </ul>
  
    <form id="rsvp" method="POST">
    <label for="email">Email address:</label>
    <input id = "email" type="email" name="email">
    <br>
    <input id= "Submit" type = "submit" value = "Submit">
    </form>
    
    <br>
    <a class="donate" href="/donate">Donate</a>
      
{% endblock %}



