{% extends "layout.html" %}

{% block header %}
  <header>
    <img id="HeaderPhoto" src="http://www.zenthemaster.in/images/header-bg.png" height="150" width="1150">
    <h1>{{ title }} CARACHUGU</h1>
  </header>
{% endblock %}

<head> 

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='97722463-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<script> 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59594244-1', 'auto');
  ga('set', 'expId', 'iFc3l3nyQnSxQrfdxQ9Xjw'); 

  {% if rsvp %}
       ga('set', 'expVar', '0');  
  {% else %}
       ga('set', 'expVar', '1');
  {% endif %}
  
  ga('send', 'pageview');
  
  ga('set', 'expId', '5tcLAU0bTf2kGIE-f4NnIA'); 

  {% if rsvp %}
       ga('set', 'expVar', '0');  
  {% else %}
       ga('set', 'expVar', '1');
  {% endif %}
  
  ga('send', 'pageview');

</script>
</head>
{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <img id="logo" src="http://i.kinja-img.com/gawker-media/image/upload/s--KfWpVfF9--/777799945904752783.png" width="1150">
  <p>Here is our list of events</p>
  <div style="border: 1px solid black">
     {% include "fragments/events-list.html" %}
  </div>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  
  <p>Here are our sprint reports:</p>
  
  <div style="border: 1px solid blue">
  <p> 
  <a href="/reports1" >Sprint 1 Report</a>
  </p>
   <p> 
  <a href="/reports2" >Sprint 2 Report</a>
  </p>
  </div>
  
{% endblock %}